<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imu">
  
  <link name="world"/>
  <xacro:include filename="$(find ros_robotic_skin)/robots/imu.xacro"/>

  <xacro:imu imu_id="0_est"/>
  <xacro:imu imu_id="1_est"/>
  <xacro:imu imu_id="2_est"/>
  <xacro:imu imu_id="3_est"/>
  <xacro:imu imu_id="4_est"/>
  <xacro:imu imu_id="5_est"/>
  <xacro:imu imu_id="6_est"/>
  <gazebo>
    <static>true</static>
  </gazebo>
</robot>