<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imu">

    <xacro:macro name="imu" params="imu_id:='0' xyz:='0 0 0' rpy:='0 0 0' gravity:='true' type:='fixed' freq:='100' connected_to:=''">
        <!-- Connect IMU to the world if not specified -->
        <xacro:if value="${connected_to == ''}">
            <joint name="imu${imu_id}_to_world" type="${type}">
                <!-- XYZ, RPY from parent Visual Origin (Center o Gravity) -->
                <!-- in this case it's 0 0 0-->
                <parent link="world" />
                <child link="imu_link${imu_id}" />
                <origin rpy="${rpy}" xyz="${xyz}"/>
            </joint>
        </xacro:if>

        <!-- Connect IMU to ${connected_to} if specified -->
        <xacro:if value="${connected_to != ''}">
            <joint name="imu${imu_id}_to_${connected_to}" type="${type}">
                <parent link="${connected_to}"/>
                <child link="imu_link${imu_id}"/>
                <origin rpy="${rpy}" xyz="${xyz}"/>
            </joint>
        </xacro:if>

        <!-- XYZ, RPY from the joint-->
        <!-- in this case it's imu_to_world${imu_id}-->
        <!-- To set the CoG to the joint, do not add any displacement -->
        <!-- To set the box base to the joint, add displacement-->
        <xacro:property name="boxxy" value="0.05"/>
        <xacro:property name="boxz" value="0.03"/>
        <xacro:property name="displacement" value="${boxz}"/>
        <link name="imu_link${imu_id}">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="0.01"/>
                <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="${boxxy} ${boxxy} ${boxz}"/>
                </geometry>
            </visual>
        </link>

        <gazebo reference="imu_link${imu_id}">
            <material>Gazebo/YellowGlow</material>
            <gravity>${gravity}</gravity>
            <mu1>20</mu1>
            <mu2>20</mu2>
            <sensor name="imu_sensor${imu_id}" type="imu">
                <always_on>true</always_on>
                <update_rate>${freq}</update_rate>
                <visualize>true</visualize>
                <topic>__default_topic__</topic>
                <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                    <topicName>imu_data${imu_id}</topicName>
                    <bodyName>imu_link${imu_id}</bodyName>
                    <updateRateHZ>${freq}</updateRateHZ>
                    <gaussianNoise>0.0</gaussianNoise>
                    <xyzOffset>0.0 0.0 0.0</xyzOffset>
                    <rpyOffset>0 0 0</rpyOffset>
                    <frameName>imu_link${imu_id}</frameName>
                </plugin>
                <pose>0 0 0 0 0 0</pose>
            </sensor>
        </gazebo>

        <!-- ////////////////////////////////////////// -->
        <!--                    AXIS                    -->
        <!-- ////////////////////////////////////////// -->
        <joint name="imu${imu_id}_to_xaxis" type="fixed">
            <parent link="imu_link${imu_id}"/>
            <child link="imu_link${imu_id}_xaxis"/>
            <origin rpy="0 1.57 0" xyz="0 0 0"/>
        </joint>
        <joint name="imu${imu_id}_to_yaxis" type="fixed">
            <parent link="imu_link${imu_id}"/>
            <child link="imu_link${imu_id}_yaxis"/>
            <origin rpy="-1.57 0 0" xyz="0 0 0"/>
        </joint>
        <joint name="imu${imu_id}_to_zaxis" type="fixed">
            <parent link="imu_link${imu_id}"/>
            <child link="imu_link${imu_id}_zaxis"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
        </joint>

        <link name="imu_link${imu_id}_xaxis">
            <inertial>
                <origin xyz="0 0 ${boxz}" rpy="0 0 0"/>
                <mass value="0.001"/>
                <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
            </inertial>
            <visual>
                <origin xyz="0 0 ${boxz}" rpy="0 0 0"/>
                <geometry>
                    <cylinder radius="${boxxy/20}" length="${2*boxz}"/>
                </geometry>
            </visual>
        </link>
        <link name="imu_link${imu_id}_yaxis">
            <inertial>
                <origin xyz="0 0 ${boxz}" rpy="0 0 0"/>
                <mass value="0.001"/>
                <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
            </inertial>
            <visual>
                <origin xyz="0 0 ${boxz}" rpy="0 0 0"/>
                <geometry>
                    <cylinder radius="${boxxy/20}" length="${2*boxz}"/>
                </geometry>
            </visual>
        </link>
        <link name="imu_link${imu_id}_zaxis">
            <inertial>
                <origin xyz="0 0 ${boxz}" rpy="0 0 0"/>
                <mass value="0.001"/>
                <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
            </inertial>
            <visual>
                <origin xyz="0 0 ${boxz}" rpy="0 0 0"/>
                <geometry>
                    <cylinder radius="${boxxy/20}" length="${2*boxz}"/>
                </geometry>
            </visual>
        </link>
        <gazebo reference="imu_link${imu_id}_xaxis">
            <material>Gazebo/Red</material>
        </gazebo>
        <gazebo reference="imu_link${imu_id}_yaxis">
            <material>Gazebo/Green</material>
        </gazebo>
        <gazebo reference="imu_link${imu_id}_zaxis">
            <material>Gazebo/Blue</material>
        </gazebo>
    </xacro:macro>
</robot>
