<?xml version="1.0" ?>
<launch>
    <arg name="is_sim" default="true" />

    <group if="$(arg is_sim)">
        <include file="$(find ros_robotic_skin)/launch/simulation.launch" />
    </group>
    <group unless="$(arg is_sim)">
        <include file="$(find ros_robotic_skin)/launch/panda.launch" />
    </group>


    <node pkg="ros_robotic_skin" name="activity_matrix" type="activity_matrix.py" output="screen" />
    <node pkg="ros_robotic_skin" name="imu_listener" type="imu_listener.py" output="screen" />
    <node pkg="ros_robotic_skin" name="joint_movement" type="joint_movement.py" args="$(arg is_sim)" output="screen" />

</launch>