<?xml version="1.0" ?>
<!-- launch file for collecting poses from the robot. -->
<!-- Runs two nodes - one to wait for user input, -->
<!-- and the other to capture the actual pose. -->
<launch>
  <!-- options are in panda or sawyer simulation, and on real panda  -->
  <arg name="is_sim" default="true" />
  <arg name="save_file" default="positions.txt" />

  <!-- if robot_type is sawyer, and is_sim is false, this will cause an error later. -->
  <arg name="robot_type" default="panda" />

  <node pkg="ros_robotic_skin" name="capture_poses" type="capture_poses.py" args="$(arg is_sim) $(arg robot_type) $(arg save_file)" output="screen" />
  <node pkg="ros_robotic_skin" name="wait_poses" type="wait_poses.py" output="screen" />

</launch>
