<!-- Launch file for the implementation of the flacco paper -->
<launch>
    <!-- simulation.launch -->
    <include file="$(find ros_robotic_skin)/launch/simulation.launch"/>>
    <!-- Control points tf broadcaster -->
    <node pkg="ros_robotic_skin" type="control_points_broadcaster"
          name="control_points_broadcaster" />
</launch>