<?xml version="1.0" ?>
<!-- launch file for control of the real -->
<!-- franka panda robot arm. -->
<launch>
  <!-- robot ip of the panda must be specified -->
  <arg name="robot_ip" />
  <arg name="load_gripper" default="true" />

  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <rosparam command="load" file="$(find ros_robotic_skin)/config/panda_joint_controllers.yaml" />
  <node name="noob" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="panda_joint_position_controller"/>
  <!-- <node name="noob" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="panda_joint_velocity_controller"/> -->
</launch>