<?xml version="1.0" ?>
<!-- launch file for control of the real -->
<!-- franka panda robot arm. -->
<launch>
  <!-- robot ip of the panda must be specified -->
  <arg name="robot_ip" />
  <arg name="load_gripper" default="true" />
  <!-- side note - we need to modify the original franka control to also have the joint trajectory controller up and running. -->
  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>


</launch>