<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" />
  <arg name="load_gripper" default="true" />
  <include file="$(find franka_example_controllers)/launch/force_example_controller.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <node pkg="ros_robotic_skin" name="capture_poses" type="capture_poses.py" output="screen" />

</launch>