<!-- Launch file that starts the simulation with proximity sensors -->

<launch>

    <!-- Launches flacco.launch file with gui argument-->
    <include file="$(find ros_robotic_skin)/launch/flacco.launch" >
        <arg name="gui" default="true" />
    </include>
 
    <!-- Runs proximity listener and visualizer nodes -->
    <node name="proximity_listener" pkg="ros_robotic_skin" type="proximity_listener" output="screen" />
    <node name="proximity_visualizer" pkg="ros_robotic_skin" type="proximity_visualizer" output="screen" />

    <!-- Sends user's choice of a controller to choose_controller.py node to start correct controller -->
    <param name="controller" value="$(arg controller)" />

    <!-- Runs choose_controller node which runs correct controller -->
    <node name="choose_controller" pkg="ros_robotic_skin" type="choose_controller.py" output="screen" />

    <!-- Runs the hardcoded obstacle avoidance controller (test case) --> 
    <!-- <node name="obstacle_avoidance_controller" pkg="ros_robotic_skin" type="ObstacleAvoidanceController.py" output="screen" /> -->

</launch>